body {
  font-family: arial;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto;
  width: 950px;
  /* height: 1250px; */
  background: #eeeeee;
}
a {
  color: #3399ff;
}
.headeroption {
  background: #d1e6fc url("img/php.png") no-repeat scroll 25px 12px;
  height: 74px;
  overflow: hidden;
  padding-left: 140px;
}
.headeroption h2 {
  color: #000;
  font-size: 30px;
  padding-top: 2px;
  text-shadow: 0 1px 1px #fff;
}
.content {
  background: #fff;
  border: 6px solid #d1e6fc;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 3px;
  margin-top: 3px;
  min-height: 380px;
  overflow: hidden;
  padding: 10px;
}

.subject {
  border-bottom: 1px solid  #d1e6fc;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.subject p {
  margin: 0;
}

.insert {
  color: #06960e;
  font-weight: bold;
}
.delete {
  color: #de5a24;
  font-weight: bold;
}

.mainleft {
  border-right: 1px dotted #999;
  float: left;
  margin-right: 16px;
  width: 350px;
}
.mainright {
  float: right;
  width: 450px;
}

.tblone {
  width: 100%;
  border: 1px solid #fff;
}
.tblone td {
  padding: 5px 10px;
  text-align: center;
}

table.tblone tr:nth-child(2n + 1) {
  background: #fff;
  height: 30px;
}
table.tblone tr:nth-child(2n) {
  background: #fdf0f1;
  height: 30px;
}

input[type="text"] {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 5px;
  width: 228px;
  font-size: 16px;
}
input[type="submit"] {
  cursor: pointer;
}

.footeroption {
  height: 90px;
  background: #d1e6fc;
  overflow: hidden;
  padding-top: 10px;
}
/* .footerone {
  background: #3aa0ff;
  border-radius: 5px;
  float: left;
  font-size: 18px;
  line-height: 23px;
  margin-left: 10px;
  padding: 6px 10px;
  text-align: center;
  text-shadow: 1px 0 2px #fff;
  width: 390px;
  overflow: hidden;
} */
.footerone  {
  margin: 0;
  text-align: center;
  font-size: 30px;
}
